@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .group:hover img,
  .group:focus img {
    opacity: 0.25;
  }

  .group:hover span,
  .group:focus span {
    opacity: 1;
  }

  span {
    transition: opacity 0.3s ease-in-out;
  }

  /* Ajout du padding-top pour éviter que le contenu passe derrière la navbar */
  .allwork, .about {
    padding-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
  }
}
